<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>error</title>
  <link rel="stylesheet"
        th:href="@{/css/demo.css}">

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
</head>
<body>
<h1 class="funny">Something went wrong!!!</h1>
<hr>
<div class="center">
  <a th:href="@{/students/list}" class="btn btn-primary btn-sm mr-5 mb-3">Back to students List</a>
</div>
</body>
</html>